* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: "Sora", sans-serif;
}

html, body {
    scroll-behavior: smooth;
}

/* ===================== common ============== */

:root {
    --primary-color: #10375C;   
}

.heading {
    color:  var(--primary-color);
    font-weight: 600;
}

.lv1 {
    color: #FFF;
    font-size: 7rem;
    line-height: 1.14;
    letter-spacing: -1.4px;
}

.lv2 {
    font-size: 5rem;
    line-height: 1.2;
    letter-spacing: -1px;
}

.lv3 {
    font-size: 2.6rem;
    line-height: 1.38;
}

.opacity-hover:hover {
    opacity: 0.9;
}

.underline-hover:hover {
    text-decoration: underline;
}

.btn {
    display: inline-block;
    width: 205px;
    line-height: 60px;
    border-radius: 30px;
    background: #2E80CE;
    color: #FFF;
    text-align: center;
    font-size: 1.8rem;
    font-weight: 400;
}

.desc {
    color: #575F66;
    font-size: 1.8rem;
    font-weight: 300;
    line-height: 1.66;
}

.small-desc {
    color: #575F66;
    font-weight: 300;
    line-height: 1.75;
}

.content {
    width: 1170px;
    max-width: calc(100% - 48px);
    margin-left: auto;
    margin-right: auto;
}

a {
    text-decoration: none;
}

/* =================== header =============== */

.header {
    padding: 30px 0 8px;
    background: var(--primary-color);
    position: sticky;
    top: -22px;
    z-index: 1;
}

.header .body {
    display: flex;
    align-items: center;
}

.header .logo {
    display: flex;
    gap: 6px;
    align-items: center;
}

.header .company-name {
    color: #FFF;
    line-height: 0.78;
}

.header .upper {
    font-size: 1.8rem;
    font-weight: 400;
}

.header .lower {
    font-size: 1.2rem;
    font-weight: 300;
}

/* action */
.header .btn-cta {
    width: 104px;
    line-height: 44px;
    color: #FFF;
    font-size: 1.6rem;
    text-align: center;
    font-weight: 400;
    border-radius: 22px;
}

.header .action-link {
    color: #C9D2DA;
    font-weight: 300;
    line-height: 1.75;
    margin-right: 28px;
}

/* nav-bar */
.header .nav-bar {
    margin-left: auto;
}

.header .list {
    display: flex;
    align-items: center;
    margin-right: 222px;
}

.header .item a {
    color: #C9D2DA;
    text-align: center;
    font-weight: 300;
    line-height: 1.75;
    padding: 6px 21px;
}

/* active */
.header .active a {
    color: #FFF;
    font-weight: 400;
    display: flex;
    align-items: center;
    gap: 8px;
}

.header .active a::before {
    content: "";
    display: inline-block;
    width: 6px;
    height: 6px;
    background: currentColor;
    border-radius: 50%;
}

/* ================= hero ================== */

.hero {
    background: var(--primary-color);
    padding-top: calc(76px - 8px);
    padding-bottom: 110px;
}

.hero .body {
    display: flex;
    justify-content: space-between;
}

.hero .heading {
    padding-top: 60px;
    color: #FFF;
}

.hero .desc {
    padding-top: 22px;
    color: #C9D2DA;
}

.hero .info {
    width: 43%;
}

.hero .contact {
    display: flex;
    align-items: center;
    padding-top: 38px;
    gap: 38px;
}

.hero .group-img {
    position: relative;
    width: 45.64%;
    height: 540px;
}

.hero .group-img .small-img {
    position: absolute;
    right: 0;
    top: 65px;
    bottom: 65px;
    width: 39.32%;
    height: 410px;
    border-radius: 6px;
    object-fit: cover;
}

.hero .group-img .giant-img {
    position: absolute;
    width: 61.79%;
    height: 100%;
    object-fit: cover;
    border-radius: 6px;
    z-index: 1;
}

.hero .phone-number {
    color: #FFF;
    font-size: 1.8rem;
    line-height: 1.67;
}