* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: "Sora", sans-serif;
}

html, body {
    scroll-behavior: smooth;
}

/* ===================== common ============== */

:root {
    --primary-color: #10375C;   
}

.heading {
    color:  var(--primary-color);
    font-weight: 600;
}

.lv1 {
    color: #FFF;
    font-size: 7rem;
    line-height: 1.14;
    letter-spacing: -1.4px;
}

.lv2 {
    font-size: 5rem;
    line-height: 1.2;
    letter-spacing: -1px;
}

.lv3 {
    font-size: 2.6rem;
    line-height: 1.38;
}

.lv4 {
    font-size: 1.8rem;
}

.opacity-hover:hover {
    opacity: 0.9;
}

.underline-hover:hover {
    text-decoration: underline;
}

.btn {
    display: inline-block;
    min-width: 205px;
    line-height: 60px;
    border-radius: 30px;
    background: #2E80CE;
    color: #FFF;
    text-align: center;
    font-size: 1.8rem;
    font-weight: 400;
}

.desc {
    color: #575F66;
    font-size: 1.8rem;
    font-weight: 300;
    line-height: 1.66;
}

.small-desc {
    color: #575F66;
    font-weight: 300;
    line-height: 1.75;
}

.content {
    width: 1170px;
    max-width: calc(100% - 48px);
    margin-left: auto;
    margin-right: auto;
}

a {
    text-decoration: none;
}

/* =================== header =============== */

.header {
    padding: 30px 0 8px;
    background: var(--primary-color);
    position: sticky;
    top: -22px;
    z-index: 2;
}

.header .body {
    display: flex;
    align-items: center;
}

.header .logo {
    display: inline-flex;
    align-items: flex-start;
    font-size: 1rem;
}

.header .company-name {
    color: #FFF;
    line-height: 0.78;
}

.header .upper {
    font-size: 1.8em;
    font-weight: 400;
    line-height: 0.78;
}

.header .lower {
    font-size: 1.2em;
    font-weight: 300;
    line-height: 1.16;
}

/* action */
.header .btn-cta {
    min-width: 104px;
    line-height: 44px;
    color: #FFF;
    font-size: 1.6rem;
    text-align: center;
    font-weight: 400;
    border-radius: 22px;
}

.header .action-link {
    color: #C9D2DA;
    font-weight: 300;
    line-height: 1.75;
    margin-right: 28px;
}

/* nav-bar */
.header .nav-bar {
    margin-left: auto;
}

.header .list {
    display: flex;
    align-items: center;
    margin-right: 222px;
}

.header .item a {
    color: #C9D2DA;
    text-align: center;
    font-weight: 300;
    line-height: 1.75;
    padding: 6px 21px;
}

/* active */
.header .active a {
    color: #FFF;
    font-weight: 400;
    display: flex;
    align-items: center;
    gap: 8px;
}

.header .active a::before {
    content: "";
    display: inline-block;
    width: 6px;
    height: 6px;
    background: currentColor;
    border-radius: 50%;
}

/* logo circle */
.header .circle {
    position: relative;
    margin-right: 6px;
}

.header .circle::before,
.header .circle::after {
    content: "";
    display: inline-block;
    border-radius: 50%;
}

.header .circle::before {
    width: 3em;
    height: 3em;
    background: #2E80CE;
}

.header .circle::after {
    width: 1.6em;
    height: 1.6em;
    background: #FFF;
    position: absolute;
    top: 1.1em;
    left: 1.1em;
}

/* ================= hero ================== */

.hero {
    background: var(--primary-color);
    padding-top: calc(76px - 8px);
    padding-bottom: 110px;
}

.hero .body {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hero .desc {
    padding-top: 22px;
    color: #C9D2DA;
}

.hero .info {
    width: 44.18%;
}

.hero .contact {
    display: flex;
    align-items: center;
    padding-top: 38px;
    gap: 38px;
}

.hero .group-img {
    display: flex;
    align-items: center;
    width: 45.64%;
    height: 540px;
}

.hero .group-img .small-img {
    width: 39.32%;
    height: 410px;
    border-radius: 6px;
    object-fit: cover;
    margin-left: -6px;
}

.hero .group-img .giant-img {
    width: 61.79%;
    height: 100%;
    object-fit: cover;
    border-radius: 6px;
    z-index: 1;
}

.hero .phone-number {
    color: #FFF;
    font-size: 1.8rem;
    line-height: 1.67;
}

/* ============================ service ================== */

.service {
    margin-top: 170px;
}

.service .heading-top {
    width: 40%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.service .heading-top .desc {
    padding-top: 18px;
}

.service .media {
    width: 48%;
    height: 570px;
}

.service .body {
    display: flex;
    align-items: center;
    gap: 11%;
    padding-top: 70px;
}

.service .media .img {
    width: 100%;
    height: 100%;
    border-radius: 12px;
    object-fit: cover;
}

.service .container {
    width: 40.17%;
}

.service .item {
    padding: 21px 18px 20px 22px;
    display: flex;
    align-items: center;
    gap: 19px;
    transition: 0.25s;
}

.service .item .desc {
    padding-top: 8px;
    font-size: 1.6rem;
    line-height: 1.75;
}

.service .item .circle {
    width: 60px;
    height: 60px;
    background: #eff6fd;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    flex-shrink: 0;
    transition: 0.25s;
}

.service .item .circle {
    color: var(--primary-color);
}

.service .container .item:hover {
    box-shadow: 0px 14px 28px 0px rgba(0, 0, 0, 0.05);
    border-radius: 18px;
}

.service .item:hover .circle {
    background: #2e80ce;
    color: #FFF;
}

.service .btn-cta {
    margin-top: 55px;
}

/* ======================== guides ========================= */

.guides {
    margin-top: 170px;
    background: #f6fbff;
}

.guides .content {
    padding: 100px 0 116px;
}

.guides .heading-top .desc {
    padding-top: 18px;
    width: 40%;
}

.guides .container {
    margin-top: 86px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 30px;
}

.guides .item .heading {
    padding-top: 18px;
}

.guides .item .desc {
    font-size: 1.6rem;
    line-height: 1.75;
    padding-top: 28px;
}

.guides .container .link {
    display: inline-block;
    color: #575f66;
    font-weight: 300;
    line-height: 1.75;
    padding-top: 18px;
    transition: 0.25s;
}

.guides .active .link:hover {
    opacity: 0.9;
}

.guides .item {
    padding: 42px;
    border: 16px solid #eaf6ff;
    border-radius: 4px;
    background: #FFF;
    transition: 0.25s;
}

.guides .item:hover {
    border-color: #2E80CE;
    transform: translateY(-18px);
}

.guides .item:hover .link {
    padding-top: 28px;
    color: #2E80CE;
    line-height: 1.75;
}

/* ======================== about ==================== */

.about {
    margin-top: 170px;
}

.about .body {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.about .images {
    position: relative;
    width: 48.71%;
    min-height: 491px;
}

.about .info {
    width: 40.17%;
}

.about .images .img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-radius: 6px;
}

.about .images .img-1 {
    width: 89.82%;
    height: 370px;
    position: absolute;
    top: 0;
    left: 0;
}

.about .images .img-2 {
    width: 58.24%;
    height: 370px;
    position: absolute;
    top: 121px;
    right: 10.17%;
}

.about .info .desc {
    padding-top: 18px;
}

.about .info .btn-cta {
    margin-top: 38px;
}

/* ==================== dentists ================== */

.dentists {
    margin-top: 170px;
}

.dentists .heading-top {
    text-align: center;
}

.dentists .heading-top .heading {
    padding-bottom: 38px;
}

.dentists .container {
    display: flex;
    padding-top: 70px;
    gap: 30px;
    overflow: hidden;
}

.dentists .container a {
    flex-shrink: 0;
    width: calc(25% - 22.5px);
    border-radius: 6px;
}

.dentists .item .avt {
    width: 100%;
    height: 290px;
    border-radius: 6px;
    object-fit: cover;
}

.dentists .container .heading {
    font-weight: 400;
    line-height: 1.75;
    text-align: center;
    padding-top: 12px;
}

.dentists .container .desc {
    font-size: 1.4rem;
    font-weight: 300;
    line-height: 1.85;
    text-align: center;
}

.dentists .button {
    display: flex;
    gap: 18px;
    padding-top: 38px;
    justify-content: center;
}

.dentists .button .left-btn,
.dentists .button .right-btn {
    width: 36px;
    height: 36px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.dentists .button .left-btn {
    border: 1px solid #575f66;
}

.dentists .button .right-btn {
    background-color: #2E80CE;
    border: 1px solid #2e80ce;
}

.dentists .right-btn svg {
    rotate: 180deg;
}

/* ====================== download ===================== */

.download {
    margin-top: 170px;
}

.download .content {
    margin-top: 95px;
    background: #2E80CE;
    position: relative;
    height: 427px;
    border-radius: 4px;
}

.download .body {
    display: flex;
    justify-content: flex-end;
}

.download .img {
    position: absolute;
    top: -95px;
    left: 70px;
}

.download .info {
    width: 50.08%;
    margin-right: 70px;
    margin-top: 76px;
}

.download .heading {
    color: #FFF;
}

.download .desc {
    color: #FFF;
    padding-top: 18px;
}

.download .row {
    display: flex;
    gap: 28px;
    padding-top: 38px;
}

/* ========================= news ======================= */

.news {
    margin-top: 170px;
}

.news .body {
    display: flex;
    align-items: center;
}

.news .left {
    width: 40.17%;
}

.news .left .link {
    display: inline-block;
    text-decoration: underline;
    color: var(--primary-color);
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 1.5;
    padding-top: 28px;
}

.news .right {
    display: flex;
    gap: 30px;
    width: 48.71%;
    margin-left: auto;
    overflow: hidden;
}

.news .right .section {
    flex-shrink: 0;
    width: calc(100% / 2 - 15px);
    border: 1px solid #e8ebee;
    border-radius: 12px;
    transition: 0.25s;
}

.news .right img {
    width: 100%;
    height: 172px;
    object-fit: cover;
    border-radius: 12px 12px 0 0;
}

.news .right .heading {
    line-height: 1.625;
    padding-top: 18px;
}

.news .right .desc {
    font-size: 1.4rem;
    line-height: 1.71;
    padding-top: 10px;
}

.news .right .link {
    display: block;
    color: #10375C;
    line-height: 1.4rem;
    padding-top: 12px;
    padding-bottom: 22px;
}

.news .right .heading,
.news .right .desc,
.news .right .link {
    padding-left: 22px;
    padding-right: 22px;
}


.news .right .section:hover {
    border: none;
    box-shadow: 0px 18px 50px 0px rgba(0, 0, 0, 0.05);
}

.news .right .section:hover .link {
    color: #2E80CE;
}

.news .button {
    display: flex;
    gap: 18px;
    padding-top: 28px;
}

.news .button .left-btn,
.news .button .right-btn {
    width: 36px;
    height: 36px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.news .button .left-btn {
    border: 1px solid #575f66;
}

.news .button .right-btn {
    background-color: #2E80CE;
    border: 1px solid #2e80ce;
}

.news .right-btn svg {
    rotate: 180deg;
}

/* =========================== appointment ====================== */

.appointment {
    margin-top: 170px;
}

.appointment .content {
    background: #f6fbff;
}

.appointment .body {
    padding: 100px 0;
    text-align: center;
}

.appointment .heading::after {
    content: "";
    display: block;
    width: 11.62%;
    height: 2px;
    background: #2E80CE;
    margin-left: auto;
    margin-right: auto;
    margin-top: 18px;
}

.appointment .desc {
    padding-top: 18px;
    font-size: 1.6rem;
    line-height: 1.75;
    width: 52.7%;
    margin-left: auto;
    margin-right: auto;
}

.appointment .btn-cta {
    margin-top: 38px;
}